In [1]:
import numpy as np
import pandas as pd
import math

from scipy import stats #Analysis 
from scipy.stats import norm 
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib import rcParams
%matplotlib inline

In [40]:
data = pd.read_json(path+"wearable.json")

In [4]:
path = "./Dataset/"

data = pd.read_csv(path+"book_cultureBig.csv")

In [6]:
data.head()

,master_seq,isbn13,vol,title,author,publisher,pub_date,add_code,price,img_url,description,kdc_class_no,title_replace,author_replace,pub_date_2,is_coll_aladin,is_coll_naver,isbn_origin
0,6312233,9791134890940,NaN,약사의 혼잣말 8,"네코쿠라게 (지은이), 휴우가 나츠 (원작), 시노 토우코 (그림), 나나오 이츠키...",학산문화사(만화),NaN,NaN,5500.0,https://image.aladin.co.kr/product/28010/57/co...,한 차례 후궁에서 해고되었으나 진시에게 직접 고용되는 형태로 외정 근무를 하게 된 ...,NaN,NaN,NaN,2021-09-27,NaN,NaN,NaN
1,6312234,9788954682527,NaN,2021 김승옥문학상 수상작품집,"문진영, 윤대녕, 손홍규, 안보윤, 진연주, 정용준, 황현진 (지은이)",문학동네,NaN,NaN,10000.0,https://image.aladin.co.kr/product/28055/72/co...,"2020 김승옥문학상 수상 작가는 김금희, 은희경, 권여선, 황정은, 정한아, 최은...",NaN,NaN,NaN,2021-10-05,NaN,NaN,NaN
2,6312235,9788936459574,NaN,나나 (양장),이희영 (지은이),창비,NaN,NaN,13000.0,https://image.aladin.co.kr/product/28053/58/co...,한국형 영어덜트 소설의 지평을 넓히는 소설Y 시리즈 첫 권. ‘영혼이 몸을 빠져나온...,NaN,NaN,NaN,2021-10-01,NaN,NaN,NaN
3,6312236,9791191496055,NaN,설민석의 세계사 대모험 10 - 영국 산업 혁명 편 : 멋진 신세계,"설민석, 김정욱 (지은이), 박성일 (그림), 원태준 (감수)",단꿈아이,NaN,NaN,12000.0,https://image.aladin.co.kr/product/28053/49/co...,"세계사 현장으로 시간 여행을 떠나, 설쌤이 들려주는 재미있는 세계사 이야기. 마치 ...",NaN,NaN,NaN,2021-09-30,NaN,NaN,NaN
4,6312237,9791165217006,NaN,반죽부터 다시 시작하는 스콘,하영아 (지은이),길벗,NaN,NaN,17000.0,https://image.aladin.co.kr/product/28053/47/co...,〈반죽부터 다시 시작하는 베이킹 시리즈〉 1탄카페 사장님들이 열광하는 사월의 물고기...,NaN,NaN,NaN,2021-10-04,NaN,NaN,NaN

In [7]:
data.columns

Index(['master_seq', 'isbn13', 'vol', 'title', 'author', 'publisher',
       'pub_date', 'add_code', 'price', 'img_url', 'description',
       'kdc_class_no', 'title_replace', 'author_replace', 'pub_date_2',
       'is_coll_aladin', 'is_coll_naver', 'isbn_origin'],
      dtype='object')

In [47]:
data['value'].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[0]                     4426568
[1.121000051498413]      343579
[1.1710000038146973]     116325
[1.0058000087738037]      47447
[0.3961000144481659]      40159
                         ...
[2.993910074234009]           1
[5444]                        1
[3.68825]                     1
[2138]                        1
[0.24964]                     1
Name: value, Length: 3516, dtype: int64

In [16]:
data['HeartDisease'].value_counts()

No     292422
Yes     27373
Name: HeartDisease, dtype: int64